body {
  margin: 0;
  padding: 0;
  font-family: "Hiragino Kaku Gothic Pro",  Meiryo, Osaka, "MS PGothic", sans-serif;
}

h1 {
  margin: 0;
}

.text-white {
  color: #fff;
}


/* bangkok */
.bangkok {
  background-image: url("../images/bangkok-image.jpg");
  background-size: 100% 100%;
  color: #fff;
}

.bangkok h1 {
  text-align: center;
  font-weight: 600;
  font-size: 24px;
  line-height: 40px;
  letter-spacing: 3px;
  padding-top: 42px;
}

.bangkok .bangkok-box {
  margin: 24px;
  margin-bottom: 0;
  padding-bottom: 10px;
}

.bangkok p:first-of-type {
  font-weight: 300;
  font-size: 12px;
  line-height: 19px;
}

.bangkok ul {
  list-style-type: none;
  padding: 0;
}

.bangkok ul li {
  font-weight: 600;
  font-size: 12px;
  line-height: 19px;
  margin-bottom: 5px;

}

.bangkok p:last-child {
  font-weight: 600;
  font-size: 15px;
  line-height: 24px;
}

/* special */
.special {
  background: #F7C23C;
  text-align: center;
  padding-bottom: 20px;
}

.special h1 {
  font-weight: 600;
  font-size: 18px;
  line-height: 40px;
  color: #333;
  padding-top: 20px;
}

.special p:first-of-type {
  font-weight: 600;
  font-size: 12px;
  line-height: 19px;
  letter-spacing: 2px;
}

.special .special-head {
  background: #F7C23C;
  position: relative;
  width: 250px;
  top: 50px;
  margin: 0 auto;
}

.special .special-head p { 
  font-weight: 600;
  font-size: 18px;
  line-height: 29px;
  color: #333;
}

.special-box {
  border: 2px solid white;
  padding-top: 50px;
  width: 90%;
  margin: 0 auto;
}

.special .special-box-element {
  display: flex;
  margin-bottom: 15px;
}

.special .special-box-element .sb-left {
  width: 30%;
  padding: 0;
}

.special .special-box-element .sb-left .circle {
  color: #F7C23C;
  background: #fff;
  padding: 0;
  margin: 0;
  text-align: center;
  display: inline-block;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  line-height: 60px;
  font-size: 12px;
  font-weight: 600;
}

.special .special-box-element .sb-right {
  width: 60%;
  margin-right: auto;
}

.special .special-box-element .sb-right .text {
  font-weight: 600;
  font-size:  12px;
  line-height: 19px;
  color: #fff;
  text-align: left;
}